<!--start wrapper-->
<section class="wrapper">
  <section class="page_head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2>Blog Post</h2>
          <nav id="breadcrumbs">
            <ul>
              <li>Back To:</li>
              <li><a href="/">Home</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section class="content blog">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <div class="blog_single">
            <% for blog in Blog.all.order("id desc").each %>
                <article class="post">
                  <div class="post_date">
                    <span class="day"><%= blog.created_at.strftime("%d") %></span>
                    <span class="month"><%= blog.created_at.strftime("%b") %></span>
                  </div>
                  <div class="post_content">
                    <div class="post_meta">
                      <h2>
                        <%= blog.title %>
                      </h2>
                      <div class="metaInfo">
                        <span><i class="fa fa-calendar"></i> <a href="#"><%= blog.created_at.strftime("%b") %> <%= blog.created_at.strftime("%d") %>, <%= blog.created_at.strftime("%Y") %></a> </span>
                        <!-- <span><i class="fa fa-user"></i> By <a href="#">Louis</a> </span>
                         <span><i class="fa fa-tag"></i> <a href="#">Emin</a>, <a href="#">News</a> </span>
                         <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span> -->
                      </div>
                    </div>
                    <p><%= blog.short_contents %></p>

                    <blockquote class="default">
                      <%= blog.main_contents %>
                    </blockquote>
                  </div>
                </article>
            <% end %>
          </div>
        </div>

     <!--Sidebar Widget-->
     <!-- <div class="col-xs-12 col-md-4 col-lg-4 col-sm-4">
          <div class="sidebar">
            <div class="widget widget_search">
              <div class="site-search-area">
                <form method="get" id="site-searchform" action="#">
                  <div>
                    <input class="input-text" name="s" id="s" placeholder="Enter Search keywords..." type="text" />
                    <input id="searchsubmit" value="Search" type="submit" />
                  </div>
                </form>
              </div>
            </div>

            <div class="widget widget_categories">
              <div class="widget_title">
                <h4><span>Categories</span></h4>
              </div>
              <ul class="arrows_list">
                <li><a href="#"><i class="fa fa-angle-right"></i> Grapic Design (10)</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Web Design & Development (25)</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Photography (29)</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Custom Illustrations (19)</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Wordpress Themes(38)</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Videography (33)</a></li>
              </ul>
            </div>

          </div>
        </div> -->
      </div>
    </div> <!--/.container-->
  </section>

</section>
<!--end wrapper-->
