<h2><%= @research.title %></h2>
<p><%= @research.contents %></p>
<p><%= @research.containts %></p>
<p><%= link_to("Edit this entry", edit_research_path(@research)) %></p>
<p><%= link_to("Back to all entries", research_path) %></p>