<ul class="nav navbar-nav" id="entry_<%= entry.id %>">
<li>
  <a href="#<%= entry.title %>"><%= best_in_place entry, :title %></a>
    <div class="btn-group hidden" role="button" aria-label="..." id="entry_div_<%= entry.id %>">
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myUpdateentry_<%= entry.id %>">Edit</button>
      <%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" , remote: true%>
    </div>
  <script>
      $("#entry_edit_btn").click(function() {
          $("#entry_div_<%= entry.id %>").removeClass('hidden');
          $("#entry_cancel_btn").removeClass('hidden');
      });
      $("#entry_cancel_btn").click(function() {
          $("#entry_div_<%= entry.id %>").addClass('hidden');
          $("#entry_cancel_btn").addClass('hidden');
      });
      $("#entry_up_btn").click(function() {
          $("#entry_div_<%= entry.id %>").addClass('hidden');
          $("#entry_cancel_btn").addClass('hidden');
      });
  </script>
  </li>
</ul>
<!-- Modal -->
<%= form_for(entry, :method => :put , remote: true) do |f| %>
    <div class="modal fade" id="myUpdateentry_<%= entry.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Menu Item Update</h4>
          </div>
          <div class="modal-body">
            <div class="field">
              <%= f.label :Name %><br>
              <%= f.text_field :title , autofocus: true ,:required => true, placeholder: "Please input title", :size =>"45x2", :style => "font-size:small;" , class: "form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Update", class:"btn btn-primary" , id: "entry_up_btn" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!-- modal -->
