<div id="top-bar">
  <div class="container">
          <span><i class="fa"><% if current_user %>
                <%= link_to "logout", destroy_user_session_path,method: :delete %>
            <% else %>
                <%= link_to "login", new_user_session_path %>
            <% end %></i></span>
  </div>
</div>
<!-- Navigation
================================================== -->
  <!-- Button trigger modal -->
  <div class="row">
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myMenu">
        Add
      </button>
      <button type="button" class="btn btn-warning btn-lg" id="entry_edit_btn">
        Edit
      </button>
      <button type="button" class="btn btn-danger btn-lg hidden" id="entry_cancel_btn">Cancel</button>
    </div>
  </div>
  <br>
  <!-- Modal -->
  <%= form_for(@entry, remote: true) do |f| %>
  <div class="modal fade" id="myMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Menu Item</h4>
        </div>
        <div class="modal-body">
        <div class="field">
          <%= f.label :Name %><br>
          <%= f.text_field :title , autofocus: true ,:required => true, placeholder: "Please input title", :size =>"45x2", :style => "font-size:small;" , class: "form-control entry_title" %>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Create", class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <!-- modal -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="my_menu">
          <%= render @entries %>
        </div>
      </div><!--/.row -->
    </div><!--/.container -->
  </div>
</header>
<!--End Header-->
<!--start wrapper-->
<div class="wrapper">
  <div class="info_service" id="Video">
    <div class="container">
      <div class="row sub_content">
        <div class="col-lg-12">
          <div class="dividerHeading">
            <h4><span>Video</span></h4>
          </div>
          <!-- Button trigger modal -->
          <div class="row">
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mygallery">
                Add
              </button>
              <button type="button" class="btn btn-warning btn-lg"  id="gallery_edit_btn">
                Edit
              </button>
              <button type="button" class="btn btn-danger btn-lg hidden" id="gallery_cancel_btn">Cancel</button>
            </div>
          </div>
          <br>
          <%= form_for(@gallery, remote: true) do |f| %>
              <div class="modal fade" id="mygallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="myModalLabel">Video</h4>
                    </div>
                    <div class="modal-body">
                      <div class="field">
                        <%= f.label :Title %><br>
                        <%= f.text_field :title , autofocus: true ,:required => true, placeholder: "Please input tilte", :size =>"45x2", :style => "font-size:small;" , class: "form-control gallery_title" %>
                      </div>
                      <div class="field">
                        <%= f.label :Contents %><br>
                        <%= f.text_area :content ,:required => true, :maxlength => 980, :rows => 6 , placeholder: "Maximum 980 words", :style => "font-size:small;" , class: "form-control gallery_contents" %>
                        <p></p>
                      </div>
                      <div class="field">
                        <%= f.label :VideoUrl %><br>
                        <%= f.text_field :url ,:required => true, placeholder: "Embed Form https://www.youtube.com/embed/kUylIQy-IgI", :size =>"45x2", :style => "font-size:small;" , class: "form-control gallery_url" %>
                        <p></p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= submit_tag "Create", class:"btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
          <!-- modal -->
<div id="my_gallery">
<%= render @galleries %>
</div>
        </div><!-- TESTIMONIALS END -->
</div>
      </div>
    </div>
      <div class="info_service" id="Blog">
        <div class="container">
      <div class="row sub_content">
        <div class="col-lg-12">
          <div class="dividerHeading">
            <h4><span>Blog</span></h4>
          </div><!-- Button trigger modal -->
          <div class="row">
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myBlog">
                Add
              </button>
              <button type="button" class="btn btn-warning btn-lg" id="blog_edit_btn">
                Edit
              </button>
              <button type="button" class="btn btn-danger btn-lg hidden" id="blog_cancel_btn">Cancel</button>
            </div>
          </div>
          <br>
          <!-- Modal -->
          <%= form_for(@blog, :html => {:multipart => true} , remote: true , authenticity_token: true) do |f| %>
              <div class="modal fade" id="myBlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="myModalLabel">Blog Entry</h4>
                    </div>
                    <div class="modal-body">
                      <div class="field">
                        <%= f.label :HomePhoto %><br>
                        <%= f.file_field :image, autofocus: true ,:required => false, class: "form-control blog_image" %>
                      </div>
                      <div class="field">
                        <%= f.label :Title %><br>
                        <%= f.text_field :title ,:required => true, placeholder: "Please input title" , :style => "font-size:small;" , class: "form-control blog_title" %>
                      </div>
                      <div class="field">
                        <%= f.label :HomeContent %><br>
                        <%= f.text_area :short_contents ,:required => true, :maxlength => 400, :rows => 4 , placeholder: "Maximum 400 words" , :style => "font-size:small;" , class: "form-control blog_short_contents"%>
                      </div>
                      <div class="field">
                        <%= f.label :BlogContent %><br>
                        <%= f.text_area :main_contents,:required => true, :rows => 6 , placeholder: "Please input blog content" , :style => "font-size:small;" ,  class: "form-control blog_main_contents" %>
                      </div>
                      <div class="field">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= submit_tag "Create", class:"btn btn-primary" %>

                    </div>
                  </div>
                </div>
              </div>
          <% end %>
          <!-- modal -->
          <section class="content blog">
            <div class="container">
              <div class="row" id="my_tab_content">
                <%= render @blogs %>
              </div>
            </div> <!--/.container-->
          </section>
        </div>
      </div>
        </div>
      </div>

  <!-- -->
  <!--start info service-->
  <div class="info_service" id="Research">
    <div class="container">
      <div class="row sub_content">
        <div class="col-md-12">
          <div class="dividerHeading">
            <h4><span>Research</span></h4>
          </div>
        </div>
        <!-- Button trigger modal -->
        <div class="row">
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myresearch">
              Add
            </button>
            <button type="button" class="btn btn-warning btn-lg" id="research_edit_btn">
              Edit
            </button>
            <button type="button" class="btn btn-danger btn-lg hidden" id="research_cancel_btn">Cancel</button>
          </div>
        </div>
        <br>
        <!-- Modal -->
        <%= form_for(@research, remote: true) do |f| %>
            <div class="modal fade" id="myresearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Research Entry</h4>
                  </div>
                  <div class="modal-body">
                    <div class="field">
                      <%= f.label :Title %><br>
                      <%= f.text_field :name , autofocus: true ,:required => true, placeholder: "Please input tilte", :size =>"45x2", :style => "font-size:small;" , class: "form-control research_name" %>
                    </div>
                    <div class="field">
                      <%= f.label :Content %><br>
                      <%= f.text_area :contents ,:required => true, :maxlength => 250, :rows => 4 , placeholder: "Maximum 250 words", :style => "font-size:small;"  , class: "form-control research_contents"%>
                    </div>
                    <div class="field">
                      <%= f.label :MainContent %><br>
                      <%= f.text_area :main_contents,:required => true,:rows=> 6 ,placeholder: "Please input main contents" , :style => "font-size:small;"  , class: "form-control research_main_contents"%>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= submit_tag "Create", class:"btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <!-- modal -->
            <div class="rs_box" id="my_research">
              <%= render @researches %>
            </div>

      </div>
    </div>
  </div>
  <!--end info service-->

  <!--Start Technology -->
  <div id="Technology" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <h4><span  style="color: #fff !important;">Technology</span></h4>
          </div>
        </div>
      </div> <!-- /.row -->
      <!-- Button trigger modal -->
      <div class="row">
        <div class="text-center">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mytechnology">
            Add
          </button>
          <button type="button" class="btn btn-warning btn-lg" id="technology_edit_btn">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-lg hidden" id="technology_cancel_btn">Cancel</button>
        </div>
      </div>
      <br>
      <!-- Modal -->
      <%= form_for(@technology, remote: true) do |f| %>
          <div class="modal fade" id="mytechnology" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Technology Entry</h4>
                </div>
                <div class="modal-body text-left">
                  <div class="field">
                    <%= f.label :Title %><br>
                    <%= f.text_field :title, autofocus: true ,:required => true, placeholder: "Please input tilte" , :style => "font-size:small;" , class: "form-control technology_title" %>
                  </div>
                  <div class="field">
                    <%= f.label :Content %><br>
                    <%= f.text_area :contents ,:required => true, placeholder: "Maximum 250 words" , :style => "font-size:small;" , :maxlength => 250, :rows => 4, class: "form-control technology_contents"%>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= submit_tag "Create", class:"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <!-- modal -->
      <div class="row sub_content" id="my_technology">
            <%= render @technologies %>
      </div>

    </div>
  </div>
  <!--End Technology -->
  <!--Start People-->
  <div class="info_service" id="People">
  <div class="latest_work">
    <div class="container">
      <div class="row sub_content">
        <div class="carousel-intro">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="dividerHeading">
              <h4><span>People</span></h4>
            </div>
            <!-- Button trigger modal -->
            <div class="row">
              <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mymember">
                  Add
                </button>
                <button type="button" class="btn btn-warning btn-lg" id="member_edit_btn">
                  Edit
                </button>
                <button type="button" class="btn btn-danger btn-lg hidden" id="member_cancel_btn">Cancel</button>
              </div>
            </div>
            <br>
            <!-- Modal -->
            <%= form_for(@member, :html => {:multipart => true} , remote: true , authenticity_token: true) do |f| %>
                <div class="modal fade" id="mymember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">Technology Entry</h4>
                      </div>
                      <div class="modal-body">
                        <div class="field">
                          <%= f.label :Photo %><br>
                          <%= f.file_field :image, autofocus: true ,:required => true, class: "form-control member_image" %>
                        </div>
                        <div class="field">
                          <%= f.label :Name %><br>
                          <%= f.text_field :name ,:required => true, placeholder: "Please input name" , :style => "font-size:small;" , class: "form-control member_name"%>
                        </div>
                        <div class="field">
                          <%= f.label :About %><br>
                          <%= f.text_area :description ,:required => true, :maxlength => 300, :rows => 4 , placeholder: "Maximum 300 words" , :style => "font-size:small;" , class: "form-control member_description"%>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <%= submit_tag "Create", class:"btn btn-primary" %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
            <!-- modal -->
            <div class="carousel-navi">
              <div id="work-prev" class="arrow-left jcarousel-prev"><i class="fa fa-angle-left"></i></div>
              <div id="work-next" class="arrow-right jcarousel-next"><i class="fa fa-angle-right"></i></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-------     meet the tema ------->
        <div class="jcarousel recent-work-jc">
          <ul class="jcarousel-list" id="my_member">
        <%= render @members %>
              </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--Start recent work-->
</div>
<!-- Start Style Switcher
<div class="switcher"></div>
<!-- End Style Switcher -->
<script>
    $(window).load(function(){
        $('.slider').fractionSlider({
            'fullWidth': 			true,
            'controls': 			true,
            'responsive': 			true,
            'dimensions': 			"1920,450",
            'increase': 			true,
            'pauseOnHover': 		true,
            'slideEndAnimation': 	true,
            'autoChange':           true
        });
    });
</script>