<div class="col-sm-4 col-md-4 col-lg-4" id="technology_<%= technology.id %>">
  <div class="serviceBox_2">
    <h3><%= best_in_place technology, :title %></h3>
    <p><%= best_in_place technology, :contents %>.</p>
  </div>
  <div style="color: #38B206;"><%= time_ago_in_words(technology.created_at) %></div>
<div class="panel-body" id="technology_btn">
  <div class="btn-group" role="button" aria-label="...">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatetechnology_<%= technology.id %>">Edit</button>
    <%= link_to 'Delete', technology, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" , remote: true%>
  </div>
</div>
<!-- Modal -->
<%= form_for(technology, :method => :put , remote: true) do |f| %>
    <div class="modal fade" id="myupdatetechnology_<%= technology.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Technology Update</h4>
          </div>
          <div class="modal-body">
            <div class="field">
              <%= f.label :Title %><br>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :Content %><br>
              <%= f.text_area :contents , class: "form-control"%>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Update", class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!-- modal -->
</div>